.wrapper {
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 450px;
  width: 200px;
}

.nav {
  grid-area: nav;
  padding: 20px;
}

.item a {
  font-size: 26px;
  text-decoration: none;
  color: white;
  transition: 0.2s;

  &:hover {
    color: #ABB2B9;
    transition: 0.2s;
  }
}

.item .activeLink {
  color: #ABB2B9;
}
