.nav {
  grid-area: nav;
  //background-color: #000811;
  background-color: #1a1b22;
  color: #ffffff;

  .item {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
  }

  .active {
    //color: #CCCCFF;
    color: #5D3FD3;
  }
}