.layout {
    background: #360033;
    background: linear-gradient(to top, #0b8793, #360033);
    min-height: 100vh;
}

.app-wrapper {
    display: grid;

    grid-template-areas:
"header header"
"nav content";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 2fr 10fr;

    margin: 0 120px;
}

.app-wrapper-content {
    grid-area: content;
}
