.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: #ffffff;
}

.dialogsItems {
  color: #1a1b22;
  padding: 20px;
  font-size: 16px;
}

.dialog {

}

.messages {
  color: #1a1b22;
  padding: 20px;
  font-size: 16px;
}

.message {
}