.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  width: 150px;
  padding: 20px 10px;
}

.dialog {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    &:hover {
      color: #ABB2B9;
    }
  }
}

.messages {
  padding: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 300px;
  min-height: 25px;
  margin-top: 20px;
  padding: 10px;
}

.recipient {
align-self: flex-start;
  background-color: #E6E6FA ;
  color: #1a1b22;
  border-radius: 20px;
  box-shadow: -20px 10px 30px -5px rgba(54, 0, 51, 0.5);
}

.sender {
  align-self: flex-end;
  background-color: #E7EFFF;
  color: #1a1b22;
  border-radius: 20px;
  box-shadow: 20px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.addMessage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.messageTextarea {
  padding: 10px;
  background-color: #E7EFFF;
  border: 2px solid #ffffff;
  outline: none;
  resize: none;
  width: 300px;
  font-size: 18px;
}

.messageButton {
  border: 1px solid #E6E6FA;
  border-radius: 10px;
  background-color: #E6E6FA;
  width: 80px;
  height: 25px;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
}